<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <script type="text/javascript" src="{{STATIC_URL}}reconnecting-websocket/reconnecting-websocket.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}singlylinkedlist.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Highcharts/js/modules/exporting.js"></script>
    <script type="text/javascript">  
        websocket_destination = 'ws://{{monitor_settings.info_websocket_ip}}:{{monitor_settings.info_websocket_port}}'
    </script> 
    <script type="text/javascript" src="{{STATIC_URL}}linechart.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}strings.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}lang.js"></script>     
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
</head> 
<style type="text/css">
  .left-main1{
    position:absolute;top:40px;left:200px;
  }
  .left-main2{
    position:absolute;top:40px;left:200px;
  }
  .center-main1{
    position:absolute;top:300px;left:200px;
  }
  .right-main1{
    position:absolute;top:300px;left:200px;
  }
</style>
<body>  
   <div class="div">
    <div id="bitrate_div">广播网通道编码码率:
     <input  type="text" id="bitrate_server" value="" style="width:100px;height:40px;border:none">
    </div>
    <div id="bitrate_div1">校园网通道编码码率:
     <input  type="text" id="bitrate_server1" value="" style="width:100px;height:40px;border:none">
    </div>
    <div id="bitrate_div2">LTE通道编码码率:
     <input  type="text" id="bitrate_server2" value="" style="width:100px;height:40px;border:none">
    </div>
    <div id="delay_div">发送端时延: 
     <input  type="text" id="delay_server" value="" style="width:80px;height:40px;border:none">
    </div>
    <div id="delay_broadcast_div">时延: 
     <input  type="text" id="delay_broadcast" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="packetlost_broadcast_div">丢包: 
     <input  type="text" id="packetlost_broadcast" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_broadband_div">时延: 
     <input  type="text" id="delay_broadband" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="packetlost_broadband_div">丢包: 
     <input  type="text" id="packetlost_broadband" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_wifi_div">时延: 
     <input  type="text" id="delay_wifi" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="packetlost_wifi_div">丢包: 
     <input  type="text" id="packetlost_wifi" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_ltewifi_div">时延: 
     <input  type="text" id="delay_ltewifi" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="packetlost_ltewifi_div">丢包: 
     <input  type="text" id="packetlost_ltewifi" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_client_div">解码时延: 
     <input  type="text" id="delay_client" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_broadcast_p2p_div">广播端到端时延: 
     <input  type="text" id="delay_broadcast_p2p" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_broadband_p2p_div">有线端到端时延: 
     <input  type="text" id="delay_broadband_p2p" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_wifi_p2p_div">WiFi端到端时延: 
     <input  type="text" id="delay_wifi_p2p" value="" style="width:80px;height:20px;border:none">
    </div>
    <div id="delay_lte_p2p_div">LTE端到端时延: 
     <input  type="text" id="delay_lte_p2p" value="" style="width:80px;height:20px;border:none">
    </div>
	  <map  name="smtsysmap" id="smtsysmap">
	  <map  name="smtsysmap" id="smtsysmap">
      <img  width="100%" src="{{STATIC_URL}}sys.jpg" alt="SMT" title="SMT" border="0" usemap="#smtsysmap" />
	  <area shape="rect" coords="325,20,410,200"  target="_new"  onclick="broadcast();"/>
	  <area shape="rect" coords="400,350,490,450"    target="_new"  onclick="broadband();"/>
	  <area shape="rect" coords="980,450,1100,550"  target="_new"  onclick="delay();"/>
	  <area shape="rect" coords="1150,240,1350,360"  target="_new"  onclick="lost();"/>
	  </map>
      <div id="bitrate" class = "left-main1"  style="display:none;"></div>
      <div id="bitrate_internet" class = "left-main2"  style="display:none;"></div>
     <!--    <div  class = "left-main2"></div> -->
	  <div id="delay" class = "center-main1" style="display:none;"></div>
	  <div id="delay1" class = "center-main2" style="display:none;"></div>
	  <div id="delay2" class = "center-main3" style="display:none;"></div>
	  <div id="delay3" class = "center-main4" style="display:none;"></div>
	  <div id="lost" class = "right-main1" style="display:none;"></div>
	</div>
</body> 
<script type="text/javascript">  
  function broadcast(){
	broadcast=document.getElementById('bitrate')
	broadcast.style.display="block"
  }
  function broadband(){
	broadband=document.getElementById('bitrate_internet')
	broadband.style.display="block"
  }
  function delay(){
	delay=document.getElementById('delay')
	delay.style.display="block"
  }
  function lost(){
	lost=document.getElementById('lost')
	lost.style.display="block"
  }
  function refresh(){
	 window.location.reload()
  }
  $(document).ready(function(){
	broadcast_div=document.getElementById('bitrate')
	delay_div=document.getElementById('delay')
	broadband_div=document.getElementById('bitrate_internet')
	lost_div=document.getElementById('lost')
	broadcast_div.onclick=function(){
	 refresh()
	}
	broadband_div.onclick=function(){
	  refresh()
	}
	delay_div.onclick=function(){
	  refresh()
	}
	lost_div.onclick=function(){
	  refresh()
	}
  }) 
</script> 
</html>  
