<!DOCTYPE html>
<html>
    <head>
        <title>ntp client</title>
        <script src="{{STATIC_URL}}jquery.min.js"  ></script>
    </head>
    <body >
        <p   id='ntp_status'>ntp status:</p>    
        <form id='start_ntp_client' action='start_ntpclient' method='get'>
             Ntp Server Ip:           <input type="text" id="ntp_server_ip" name="ntp_server_ip"  value="{{ntpclient_settings.ntp_server_ip}}"/>
             <p/>
             Update Interval:           <input type="text" id="update_interval"  name="update_interval" value="{{ntpclient_settings.update_interval}}"/>
             <p/>
             <input type="submit" value="Start" />
        </form>

            <script>
            var ntpclienttimer = 0
            function show_ntp_status(ret) {
                $("#ntp_status").text('ntp status: ' + ret)
                if(isNaN(parseFloat(ret))) {
                    $("#ntp_status").css('color', '#F00')
                } else if(Math.abs(parseFloat(ret)) > 0.001 ){
                    $("#ntp_status").css('color', '#F0F')
                } else{
                    $("#ntp_status").css('color', '#0F0')
                }
            }
            function get_ntp_status() {
                htmlobj=$.get("get_ntpclient_status", show_ntp_status )
            }
                
            function set_form_ajax(formid, cbfun) {
                cbfun = cbfun || function (res) {}
                $('#'+formid).on('submit', function (e){
                    e.preventDefault();
                    intvl = parseFloat($("#update_interval").val())
                    if(!isNaN(intvl)) {
                        ntpclienttimer  = setInterval(get_ntp_status,intvl* 1000)
                    }

                    $.ajax( {
                        type : "GET",
                        dataType: "json",
                        url : $(this).context.action,
                        data : $(this).serialize(),
                        success :cbfun 
                    });
                });
            }

            $(document).ready(function(){
                set_form_ajax('start_ntp_client')

            });

        </script>      
    </body>
</html>
