<!DOCTYPE html>
<html>
    <head>
           <title>config progtammers</title>
		   <script src="{{STATIC_URL}}jquery.min.js"  ></script>
		   <style type="text/css">
		    #file_path
            {
			  width:100%;
			}
            #file_text
            {
			   width:100%;
			   height:100%;
			}
		   </style>
        </head>
        <body >
            播放顺序:
            <select id="play_order_type">
                <option value="onebyone">依次播放</option>
                <option value="loop">全部循环</option>
                <option value="singleloop">循环第一个</option>
            </select>
        </form>
			 <table id='programme_list' border="1" > 
			   <td><button type="button" id="addBt">添加节目</button> </td>
			   <td>名称</td>
			   <td> 参数</td>
			   <td> 向下</td>
			   <td> 向上</td>
			   <td>删除</td>
			   <td>查看文件</td>
		   <hr/>
			 <table id='content_list' border="1" > 
			   <td>名字 </td>
			   <td>码率 </td>
			   <td> 网络</td>
			   <td> 路径</td>
			   <td> 布局</td>
			   <td> 提交</td>
			   <td> 关闭</td>
		   <hr style="border:none"/>
			 <table id='addprogramme_list' border="1" > 
			   <td>名称</td>
		   <hr/>
			 <table id='broadcast_info_list' border="0" >
			  <tr>
			   <td>广播总带宽:</td>
			   <td id='broadcast_total_bandwidth' >25M</td>
			  </tr>
			  <tr>
			   <td>已用带宽:</td>
			   <td id='broadcast_used_bandwidth'>15M</td>
			  </tr>
			  <tr>
			   <td>剩余带宽:</td>
			   <td id='broadcast_free_bandwidth' >10M</td>
			  </tr>
		   <hr/>
			 <table id='layout_list' border="1" > 
			   <td>横坐标 </td>
			   <td> 纵坐标</td>
			   <td> 宽度</td>
			   <td> 高度</td>
		   <hr/>
		      <button  type="button" id="start" style="width:80px;height:40px;">开始</button>

		      <button  type="button" id="stop" style="width:80px;height:40px;">停止</button>
		   <hr/>

         <script>
            var name=""
			var path=""
		    type_info=""
		    bitrate_info=""
			url_info=""
			posx_info=""
			posy_info=""
			width_info=""
			height_info=""
			play_order_type_info=""
			resource_num=0
			programmes_path='programmes.json'//tell server get  programmes.json path
            function on_bandwidth_change(bitrate) {
                if(get_bitrate_from_string(bitrate) < 0 ) {
                   $("#broadcast_free_bandwidth")[0].style.color='red'
				   alert("超过最大带宽,请重新设置!")
               } else {
                   $("#broadcast_free_bandwidth")[0].style.color='black'
               }

            }
			function add_programmes(data,name,path){
			  var jsonObj=JSON.parse(data)
			  var add_json={}
              add_json['name']=name
              add_json['url']= path
              add_json['begin']="00:00:00"
              add_json['end']="00:00:00"
			  jsonObj.programmers.push(add_json)
			  var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
			  set_config_file(json_data,programmes_path)
			}
            function del_programmes(data,index,path){
			  var jsonObj=JSON.parse(data)
			  str=path
		      for(i=0;i<jsonObj.programmers.length;i++){  
			      str2=jsonObj.programmers[i].url
				  if(i==index && str==str2){
				    jsonObj.programmers.splice(i,1)  
				  }	  
		      }
			  var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
			  set_config_file(json_data,programmes_path)
			}
            function init_programmes(data){
			  var jsonObj=JSON.parse(data)	
              if(typeof(jsonObj.play_order_type)) {
                  $('#play_order_type').val(jsonObj.play_order_type)
              }
			  for(i=0;i<jsonObj.programmers.length;i++){  
				    pro_name=jsonObj.programmers[i].name
				    pro_url=jsonObj.programmers[i].url
                    get_programme_list(pro_name,pro_url)  
			  }
			}
            function up_programmes(data,index,path){
			  var jsonObj=JSON.parse(data)	
		      for(i=0;i<jsonObj.programmers.length;i++){  
				str=path
				str2=jsonObj.programmers[i].url
				if(str==str2 && i==index){
		            var tem_arr={}		   
				    tmp_arr=jsonObj.programmers[i]
				    jsonObj.programmers[i]= jsonObj.programmers[i-1]
				    jsonObj.programmers[i-1]=tmp_arr
				 }	  
		      }	
			  var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
			  set_config_file(json_data,programmes_path)
			}
            function down_programmes(data,index,path){
			  var jsonObj=JSON.parse(data)	
		      for(i=0;i<jsonObj.programmers.length;i++){  
			    str=path
				str2=jsonObj.programmers[i].url
				if(str==str2 && i==index){
		            var tem_arr={}		   
				    tmp_arr=jsonObj.programmers[i]
				    jsonObj.programmers[i]= jsonObj.programmers[i+1]
				    jsonObj.programmers[i+1]=tmp_arr
				 }	  
			  }
			  var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
			  set_config_file(json_data,programmes_path)
			}
		    function set_programmes_file(){
		     	
               var path=programmes_path
			   var result=''
			   $.ajax({
				 type:"GET",
				 dataType:"json",
				 url:"/config_program/get_config_file/",
				 data:{path:path},
				 async:false,
				 success:function(data){
				   result=data
				 }					   
			    });
			   return result
			}


		    function set_programme_info_base(thepath, obj){
			   $.ajax({
				 type:"GET",
				 dataType:"json",
				 url:"/config_program/get_config_file/",
				 data:{path:thepath},
				 async:false,
				 success:function(data){
			       var jsonObj=JSON.parse(data)
                   for(var i in obj) {
                       jsonObj[i] = obj[i]
                   }
			       var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
                   console.log("set new data",json_data,"; path is ", thepath)
			       set_config_file(json_data,thepath)
				 }					   
			    });	
            }

		    function set_programme_info(path){
			   $.ajax({
				 type:"GET",
				 dataType:"json",
				 url:"/config_program/get_config_file/",
				 data:{path:path},
				 async:false,
				 success:function(data){
			       var jsonObj=JSON.parse(data)
			       console.log(type_info )
			       console.log( url_info  )
			       console.log(posx_info  )
			       console.log(posy_info  )
			       console.log( width_info  )
			       console.log(height_info )
			       console.log(resource_num)
                   resource=jsonObj.programmer.resources			   
		           resource[resource_num].type= type_info 
		           resource[resource_num].url= url_info 
		           resource[resource_num].bitrate= bitrate_info 
		           resource[resource_num].layout.posx= posx_info 
		           resource[resource_num].layout.posy= posy_info 
		           resource[resource_num].layout.width= width_info 
		           resource[resource_num].layout.height= height_info 
			       var json_data=JSON.stringify(jsonObj).replace(/\\n/g,"\\n").replace(/\\r/g,"\\n")
			       set_config_file(json_data,path)
				 }					   
			    });	
			}
            
		    function set_programme_process_response() {
                $("#play_order_type").unbind('change').bind('change', function() {
                        var obj = {play_order_type: $("#play_order_type").val()}
                        set_programme_info_base(programmes_path, obj)
                    }
                )
		        $("button.process_resource").unbind('click').bind('click',function(){
		              var name=$(this).attr('programmename')
		              var path=$(this).attr('path')
		              console.log(path)
                      get_programme_list(name,path)
					  var data = set_programmes_file()
					  add_programmes(data,name,path)
			          $("#addprogramme_list").hide()
		    	})
			}
            
            function set_global_value(programme_path){
			  path=programme_path
			}
            function set_global_info_value(type,url,posx,posy,width,height,num,bitrate){
			  type_info=type
			  url_info=url
			  posx_info=posx
			  posy_info=posy
			  width_info=width
			  height_info=height
			  resource_num=num
			  bitrate_info=bitrate
			}
            function get_programme_list(name,path){
		      console.log("get_programme_list!!###############" )
		      console.log(path)
			   var newtr = ""
			     newtr = newtr + "<tr class='programme_list'> "
				 newtr = newtr + "<td ></td>"
				 newtr = newtr + "<td ><button type='button' programmename='"+name+" '"+"  class='process_resource_programme'>"+name+"</button></td>"
				 newtr = newtr + "<td ><button type='button'  path="+path+""+"  programmename='"+name+" '"+"  class='process_resource_info'>"+"参数"+"</button></td>"
				 newtr = newtr + "<td ><button type='button'  path="+path+""+"  programmename='"+name+" '"+"  class='process_resource_down'>"+"向下"+"</button></td>"
				 newtr = newtr + "<td ><button type='button'  path="+path+""+"  programmename='"+name+" '"+"  class='process_resource_up'>"+"向上"+"</button></td>"
				 newtr = newtr + "<td ><button type='button'  path="+path+""+"  programmename='"+name+" '"+"  class='process_resource_delete'>"+"删除"+"</button></td>"
				 newtr = newtr + "<td ><button type='button'  path="+path+""+"  programmename='"+name+" '"+"  class='process_resource_edit'>"+"查看"+"</button></td>"
			    $("#programme_list").append(newtr)

		       $("button.process_resource_programme").unbind('click').bind('click',function(){
		         //  console.log( $(this).attr('programmename') )
				 //  $("#addprogramme_list").show()
		    	})

		       $("button.process_resource_info").unbind('click').bind('click',function(){
			        $("#content_list").show()
				    path= $(this).attr('path')
				    path=path.split("file://")
				    path=path.join('')
		            set_global_value(path)
                    get_programme_info(path)
				    $("#content_list").show()
                    $("#broadcast_info_list").before($("#content_list").append())
			        $("#broadcast_info_list").show()
		    	})

			   var $down=$(".down")
			   var len=$down.length
		       $("button.process_resource_down").unbind('click').bind('click',function(){
				   var tab=document.getElementById("programme_list")
				   var rows=tab.rows.length
                   var $tr=$(this).parents("tr")
				   var currentIndex=$tr.index()
				   if(currentIndex==rows-1){
				      return
				   }
				   if($tr.index()!=len-1){
				     $tr.fadeOut().fadeIn()
					 $tr.next().after($tr) 
				     var path= $(this).attr('path')
				     set_global_value(path)
				     var data=set_programmes_file()
					 down_programmes(data,currentIndex-1,path)
				   }		   
					   
			   })
		       $("button.process_resource_up").unbind('click').bind('click',function(){
                   var $tr=$(this).parents("tr")
				   var currentIndex=$tr.index()
			       console.log($tr.index())
				   if($tr.index()>1){
				     $tr.fadeOut().fadeIn()
					 $tr.prev().before($tr) 
				     var path= $(this).attr('path')
				     set_global_value(path)
				     var data=set_programmes_file()
					 up_programmes(data,currentIndex-1,path)
				   }		   
			  })
		       $("button.process_resource_delete").unbind('click').bind('click',function(){

			     var $tr=$(this).parents("tr")
				 var currentIndex=$tr.index()
			     document.all.programme_list.deleteRow(currentIndex)
				 var path= $(this).attr('path')
				 set_global_value(path)
				 var data = set_programmes_file()
				 del_programmes(data, currentIndex-1,path)
				 $("#layout_list").hide()
				 $("#content_list").hide()
			     $("#broadcast_info_list").hide()                      
			  })
		       $("button.process_resource_edit").unbind('click').bind('click',function(){
				   var path= $(this).attr('path')
                   window.location.href="/edit_file/?path="+path
			  })

					   
			}
            function get_broadcast_max_bandwidth(){
		      $.get("/config_program/get_broadcast_max_bandwidth/", function(ret){	
                var tb=document.getElementById('broadcast_info_list')
			    var total_bandwidth=tb.rows[0].cells[1]
                total_bandwidth.innerHTML=ret
			  })
			}
            function get_bitrate(bitrate){
			  return parseFloat(bitrate)
			}

            function get_bitrate_from_string(bitrate){
                index = -1
                ratio = 1
                value = NaN
                index = bitrate.toLowerCase().indexOf('m') 
                if(index < 0) { 
                    index = mbitrate.toLowerCase().indexOf('k') 
                    ratio = 0.001
                }
                if(index > 0) { 
                    value = parseFloat(bitrate.substring(0,index))
                    if(!isNaN(value)) {
                        value = value * ratio
                    }
                }else {
                    value = parseFloat(bitrate)
                }
			    return value
			}
            function on_network_type_change() {
                mlist =  $(".content_list") 
                sum_bitrate = 0
                for(i = 0; i < mlist.length; i ++ ) {
                    //console.log(mlist[i])
                    if('broadcast' == $(mlist[i]).find("td select")[0].value) {
                        //sum_bitrate += $(mlist[i]).find("td.bitrate_value")[0].value
                        mbitrate = $(mlist[i]).find(".bitrate_value")[0].value
                        value = get_bitrate_from_string(mbitrate)
                        if(!isNaN(value)) {
                           sum_bitrate += value
                        } 
                    }
                }
                $("#broadcast_used_bandwidth")[0].innerHTML = String(sum_bitrate)+"M"
                total_bitrate = get_bitrate_from_string($("#broadcast_total_bandwidth")[0].innerHTML)
                $("#broadcast_free_bandwidth")[0].innerHTML = String(total_bitrate - sum_bitrate)+"M"
                on_bandwidth_change($("#broadcast_free_bandwidth")[0].innerHTML)
            }
            function get_content_list(jsonObj){
               resource=jsonObj.programmer.resources			   
               console.log(jsonObj.play_order_type)
               $("tr.content_list").remove()
               $("tr.broadcast_info_list").remove()
			   console.log("get content list file!!")
			   var newtr = ""
			   var used_bitrate=0
			   for(var i=0; i< resource.length; i++) {
			     newtr = newtr + "<tr class='content_list'> "
				 newtr = newtr + "<td >"+resource[i].name+"</td>"
				 newtr = newtr + "<td ><input type='text' id='bitrate"+i+"' class='bitrate_value' value="+resource[i].bitrate+"></td>"
			     if(resource[i].type=='broadcast'){
				   used_bitrate +=get_bitrate(resource[i].bitrate)
				   console.log(used_bitrate)
				   newtr = newtr + "<td ><select id='select"+i+"' onchange='on_network_type_change()'>"+"<option value='"+resource[i].type+"'>广播</option>"+"<option value='broadband'>宽带</option>"+"</select></td>"
			     }else{
				   newtr = newtr + "<td ><select id='select"+i+"' onchange='on_network_type_change()'>"+"<option value='"+resource[i].type+"'>宽带</option>"+"<option value='broadcast'>广播</option>"+"</select></td>"
			   
			     }
				 newtr = newtr + "<td ><input type='text' id='text"+i+"' value="+resource[i].url+"></td>"
				 newtr = newtr + "<td ><button type='button' id='layout"+i+"'  posx='"+resource[i].layout.posx+"'  posy='"+resource[i].layout.posy+"'  width='"+resource[i].layout.width+"'   height='"+resource[i].layout.height+"'"+" class='process_resource_layout'>布局</button></td>"
				 newtr = newtr + "<td ><button type='button' number='"+i+"' bitrate_id='bitrate"+i+"'  text_id='text"+i+"' layout_id='layout"+i+"' select_id='select"+i+"'  path="+resource[i].url+""+" name='"+resource[i].name+" '"+"  posx='"+resource[i].layout.posx+"'"+"  posy='"+resource[i].layout.posy+"'"+"  width='"+resource[i].layout.width+"'"+"  height='"+resource[i].layout.height+"'"+" class='process_resource_submit'>提交</button></td>"
		      }
			  newtr=newtr+"<td rowspan='2'><button type='button' id='close'>关闭</button></td>"
			  $("#content_list").append(newtr)
              
              var tb=document.getElementById('broadcast_info_list')
			  var total_bandwidth=get_bitrate(tb.rows[0].cells[1].innerHTML)
			  var td_used_bandwidth=tb.rows[1].cells[1]
			  var td_surplus_bandwidth=tb.rows[2].cells[1]
              td_used_bandwidth.innerHTML=used_bitrate +'M'
              td_surplus_bandwidth.innerHTML=(total_bandwidth-used_bitrate)+'M'
              on_bandwidth_change($("#broadcast_free_bandwidth")[0].innerHTML)
			  $('#close').click(function(){
				   $("#layout_list").hide()
				   $("#content_list").hide()
			       $("#broadcast_info_list").hide()                      
			   })
		      $("button.process_resource_layout").unbind('click').bind('click',function(){
		          console.log( $(this).attr('posx') )
                   $("tr.layout_list").remove()
				   var posx= $(this).attr('posx')
				   var posy= $(this).attr('posy')
				   var width= $(this).attr('width')
				   var height= $(this).attr('height')
			       var newtr = ""
			       newtr = newtr + "<tr class='layout_list'> "
				   newtr = newtr + "<td ><input type='text' id='input_posx'   father_id="+$(this).attr('id')+"  value="+posx+"></td>"
				   newtr = newtr + "<td ><input type='text' id='input_posy'   father_id="+$(this).attr('id')+"  value="+posy+"></td>"
				   newtr = newtr + "<td ><input type='text' id='input_width'  father_id="+$(this).attr('id')+"  value="+width+"></td>"
				   newtr = newtr + "<td ><input type='text' id='input_height' father_id="+$(this).attr('id')+"  value="+height+"></td>"
			       $("#addprogramme_list").after($("#layout_list").append(newtr))
				   $("#layout_list").show()
		    	})
		      $("button.process_resource_submit").unbind('click').bind('click',function(){
					var new_posx=""
					var new_posy=""
					var new_width=""
					var new_height=""

                    var tb=document.getElementById('broadcast_info_list')
                    var tb_content_list=document.getElementById('content_list')
					var now_used_bitrate=0
					for(i=1;i<tb_content_list.rows.length;i++){
			          var type=tb_content_list.rows[i].cells[2].childNodes[0].value
					  var bitrate=tb_content_list.rows[i].cells[1].childNodes[0].value
					  if(type=='broadcast'){
                        now_used_bitrate +=get_bitrate(bitrate)					     
					  }
               		}
			        var total_bandwidth=tb.rows[0].cells[1].innerHTML
					total_bandwidth=get_bitrate(total_bandwidth)
					if(total_bandwidth - now_used_bitrate < 0){
					   alert("超过最大带宽,请重新设置!")
					   return
					}

					text_id="#"+$(this).attr('text_id')	
					bitrate_id="#"+$(this).attr('bitrate_id')	
					layout_id=$(this).attr('layout_id')
				    select_id="#"+$(this).attr('select_id')
					new_number=$(this).attr('number')	
				    url_val=$(text_id).val()
				    bitrate_val=$(bitrate_id).val()
				    type_val=$(select_id).val()
				    father_id= $("#input_posx").attr('father_id')
					console.log(father_id)
				    if(layout_id==father_id){
					  new_posx= $("#input_posx").val()
					  new_posy= $("#input_posy").val()
					  new_width= $("#input_width").val()
					  new_height= $("#input_height").val()
					}else{
					  new_posx=$(this).attr('posx')	
					  new_posy=$(this).attr('posy')	
					  new_width=$(this).attr('width')	
					  new_height=$(this).attr('height')	
					}
				   set_global_info_value(type_val,url_val,new_posx,new_posy,new_width,new_height,new_number,bitrate_val)
		           set_programme_info(path)                    
			   })
			}
            clean_addprogramme_list=false
            function get_addprogramme_list(jsonObj,current_path){
              if(clean_addprogramme_list){
			      $("tr.addprogramme_list").remove()
                  clean_addprogramme_list=false
			  }
               var addprogramme_obj=jsonObj.programmer			   
			   var newtr = ""
			   newtr = newtr + "<tr class='addprogramme_list'> "
			   newtr = newtr + "<td ><button type='button'  path="+current_path+"  programmename='"+addprogramme_obj.name+" '"+"  class='process_resource'>"+addprogramme_obj.name+"</button></td>"
			   $("#addprogramme_list").append(newtr)
			   set_programme_process_response()
			}
            current_path=""
		    function display_file(data){
		       try{
			       var jsonObj=JSON.parse(data)
			   }catch(error) {
			   }
               get_addprogramme_list(jsonObj,current_path)
			}
           
            function display_file_list(data){
			   var strs=new Array()
			   var strpath=new Array()
			   var path=""
			   strs=data.split(";")
			   for(i=0;i<strs.length;i++){
                 path=strs[i]
				 if(path)
                   get_config_file(path)
				   
			   }     
			}

		    function creat_info_list(data){
			   var jsonObj=JSON.parse(data)
               var addprogramme_obj=jsonObj.programmer			   
               get_content_list(jsonObj)
			}
			
            function get_programme_info(path){
			   console.log(path)
			   $.ajax({
				 type:"GET",
				 dataType:"json",
				 url:"/config_program/get_config_file/",
				 data:{path:path},
				 async:false,
				 success: creat_info_list,					   
			    });
			}

            function get_config_file(path){
               current_path=path
			   $.ajax({
				 type:"GET",
				 dataType:"json",
				 url:"/config_program/get_config_file/",
				 data:{path:path},
				 async:false,
				 success: display_file,					   
			    });
			}
		    function get_file_list(rootdir){
               clean_addprogramme_list=true
			   $.ajax({
				 type:"GET",
		         dataType:"json",
				 url:"/config_program/get_file_list/",
			     data:{rootdir:rootdir},
			     success: display_file_list,                    
		       });
		    }
            function set_config_file_response(){
			
			 //  console.log(data)
			}
			
            function set_config_file(text,filepath){
				$.ajax({
				 type:"POST",
				 dataType:"json",
				 url:"/config_program/set_config_file/",
				 data:{text:text,path:filepath},
				 success: set_config_file_response,				   
			    });	
			}

			$(document).ready(function(){
			   $("#addBt").click(function(){ 
			     get_file_list("")
				 $("#addprogramme_list").show()
				   
			   })
               get_broadcast_max_bandwidth()
			   var data=set_programmes_file()
			   init_programmes(data)
			   set_programme_process_response()
			   $("#layout_list").hide()
			   $("#addprogramme_list").hide()
			   $("#content_list").hide()
			   $("#broadcast_info_list").hide()
			   $("#start").click(function(){
			      $.get("/start_server/",function(ret){})
			   })
			   $("#stop").click(function(){
			      $.get("/stop_server/",function(ret){})
			   })

		   });
         </script>
        </body>
    </html>
