<!DOCTYPE html>
<html>
    <head>
            <title>start page</title>
            <script src="{{STATIC_URL}}jquery.min.js"  ></script>
        </head>
        <body >
        <form id='serviceSettings' action='set_settings' method='get'>
             Signal Dest IP: <input type="text" name="signal_destip" value="{{service_settings.signal_destip}}"/>
             <p/>
             Signal Port: <input type="text"  name="signal_port" value="{{service_settings.signal_port}}"/>
             <p/>
             Resource Broadcast IP: <input type="text" name="resource_broadcast_ip" value="{{service_settings.resource_broadcast_ip}}"/>
             <p/>
             Resource Broadband IP: <input type="text" name="resource_broadband_ip" value="{{service_settings.resource_broadband_ip}}"/>
             <p/>
             Programs file Path:    <input type="text" name="programs_file_path"    value="{{service_settings.programs}}"/>
             <p/>
             <hr style="border:1px dotted #036" />
             Info Collector Ip:     <input type="text" name="info_collector_ip" value="{{monitor_settings.info_collector_ip}}"/>
             <p/>
             Info Collector Port:   <input type="text"  name="info_collector_port" value="{{monitor_settings.info_collector_port}}"/>
             <p/>
             Info Websocket Ip:     <input type="text" name="info_websocket_ip" value="{{monitor_settings.info_websocket_ip}}"/>
             <p/>
             Info Websocket Port:   <input type="text" name="info_websocket_port" value="{{monitor_settings.info_websocket_port}}"/>
             <p/>
             <input type="submit" value="Modify" />
        </form>

        <hr/>
        <form id='startServer' action='start_programs/' method='get'>
             <input type="submit" value="start server" />
        </form>
        <p/>
        <hr/>
        <form id='startInfoServer' action='start_state_monitor/' method='get'>
             <input type="submit" value="start Info Server" />
        </form>
        <p/>
        <a href='show_status'> Show Status </a>
        <hr/>
        <a href='config_program/'>config_programmers </a>
        <hr/>
		<button type="button" id="start" style="width:80px;height:40px;">start</button>
		<button type="button" id="stop" style="width:80px;height:40px">stop</button>


            <script>
            function set_form_ajax(formid, cbfun) {
                cbfun = cbfun || function (res) {}
                $('#'+formid).on('submit', function (e){
                    e.preventDefault();
                    $.ajax( {
                        type : "GET",
                        dataType: "json",
                        url : $(this).context.action,
                        data : $(this).serialize(),
                        success :cbfun 
                    });
                });
            }
            function set_service_settings() {
                set_form_ajax("serviceSettings")
                set_form_ajax("startServer")
                set_form_ajax("startInfoServer")
	    }
            $(document).ready(function(){
                set_service_settings()
				$("#start").click(function(){
			    	$.get("/start_server/",function(ret){})	
				})
				$("#stop").click(function(){
			    	$.get("/stop_server/",function(ret){}) 	
				})
            })
            </script>
            
        </body>
    </html>
