<!DOCTYPE html>
<html>
    <head>
        <title>Current Program</title>
        <script src="{{STATIC_URL}}jquery.min.js"  ></script>
    </head>
    <body >
        <button type="button" id='currentprogramme' >Current Programme</button>
        <table id='programmeinfo' border="1" >
            <td> name </td>
            <td> url </td>
            <td> info </td>
            <td> id  </td>
            <td>  </td>
            <td>  </td>
        </table>
        <hr/>
            <script>
            function set_programme_process_response() {
                $("button.process_resource").click(function(){
                    $.get("/" + $(this).attr('command') +"/"+$(this).attr('channel_id')+"/"+$(this).attr('resource_id')+"/",function(ret){
                    })
                });
            }
 
            function set_programme_response() {
                $("#currentprogramme").click(function(){
                    $.get("/currentprogramme/", function(ret){
                        $("tr.programme_info").remove()
                        resources = ret.programmer.resources
                        var newtr = ""
                        for(var i=0; i< resources.length; i++) {
                            newtr = newtr + "<tr class='programme_info'> "
                                newtr = newtr + "<td > " + resources[i].name + " </td>"
                                newtr = newtr + "<td>" + resources[i].url + "</td>"
                                newtr = newtr + "<td>" + resources[i].info + " </td>"
                                newtr = newtr + "<td>" + resources[i].id + "</td>"
                                newtr = newtr + "<td > <button resource_id='" + resources[i].id + "' " 
                                              + "channel_id='" + ret.channel_id + "' "
                                              + "command='play' " 
                                              + "class='process_resource'>Open</button> </td>"
                                newtr = newtr + "<td > <button resource_id='" + resources[i].id + "' " 
                                              + "channel_id='" + ret.channel_id + "' "
                                              + "command='stop' " 
                                              + "class='process_resource'>Close</button> </td>"
                                newtr = newtr + "</tr>"
                        }
                        $("#programmeinfo").append(newtr)
                        set_programme_process_response()
 
                    })
                });
            }

            function set_form_ajax(formid, cbfun) {
                cbfun = cbfun || function (res) {}
                $('#'+formid).on('submit', function (e){
                    e.preventDefault();
                    $.ajax( {
                        type : "GET",
                        dataType: "json",
                        url : $(this).context.action,
                        data : $(this).serialize(),
                        success :cbfun 
                    });
                });
            }


            $(document).ready(function(){
                set_programme_response()
                set_programme_process_response()
            });

        </script>      
    </body>
</html>
