<!DOCTYPE html>
<html>
    <head>
        <title>Channels</title>
        <script src="{{STATIC_URL}}jquery.min.js"  ></script>
    </head>
    <body >
        <iframe src="/ntpclient_page" height="50" ></iframe>
        <a href="/ntpclient_page"> Set Ntp Client>></a>
        <hr/>
        <form id='controllerSettings' action='set_settings' method='get'>
             Device Name:           <input type="text" name="controller_name" value="{{controller_settings.controller_name}}"/>
             <p/>
             Info Collector Ip:     <input type="text" name="info_collector_ip" value="{{controller_settings.info_collector_ip}}"/>
             <p/>
             Info Collector Port:   <input type="text"  name="info_collector_port" value="{{controller_settings.info_collector_port}}"/>
             <p/>
             Info Websocket Ip:     <input type="text" name="info_websocket_ip" value="{{controller_settings.info_websocket_ip}}"/>
             <p/>
             Info Websocket Port:   <input type="text" name="info_websocket_port" value="{{controller_settings.info_websocket_port}}"/>
             <p/>
             <input type="submit" value="Modify" />
        </form>

        <button type="button" id='opentv' >Open TV</button>
        <p>result: <span id='result'></span></p>
        <hr/>
        <button type="button" id='getchannels' >Get Channels</button>
        <table id='channeltable' border="1" >
            <td> id  </td>
            <td> name </td>
            <td> url </td>
            <td> info </td>
            <td>  </td>
        </table>
        <hr/>
        <button type="button" id='currentprogramme' >Current Programme</button>
        <p/>
        <a href='related_operator'> Open Related Operator </a>
        <table id='programmeinfo' border="1" >
            <td> name </td>
            <td> url </td>
            <td> info </td>
            <td> id  </td>
            <td>  </td>
            <td>  </td>
        </table>
        <hr/>
        <form id='commandForm' action='command' method='get'> 
             Command: <input type="text" name="command" />
             <input type="submit" value="Submit" />
        </form>
 

            <script>
            function set_event_response() {
                $("button.channel").click(function(){
                    $.get("/cplay/"+$(this).attr('channel'),function(ret){
                        $('#result').html(ret)
                    })
                });
            }
            function set_programme_process_response() {
                $("button.process_resource").click(function(){
                    $.get("/" + $(this).attr('command') +"/"+$(this).attr('channel_id')+"/"+$(this).attr('resource_id')+"/",function(ret){
                    })
                });
            }
 
            function set_programme_response() {
                $("#currentprogramme").click(function(){
                    $.get("/currentprogramme/", function(ret){
                        $("tr.programme_info").remove()
                        resources = ret.programmer.resources
                        var newtr = ""
                        for(var i=0; i< resources.length; i++) {
                            newtr = newtr + "<tr class='programme_info'> "
                                newtr = newtr + "<td > " + resources[i].name + " </td>"
                                newtr = newtr + "<td>" + resources[i].url + "</td>"
                                newtr = newtr + "<td>" + resources[i].info + " </td>"
                                newtr = newtr + "<td>" + resources[i].id + "</td>"
                                newtr = newtr + "<td > <button resource_id='" + resources[i].id + "' " 
                                              + "channel_id='" + ret.channel_id + "' "
                                              + "command='play' " 
                                              + "class='process_resource'>Open</button> </td>"
                                newtr = newtr + "<td > <button resource_id='" + resources[i].id + "' " 
                                              + "channel_id='" + ret.channel_id + "' "
                                              + "command='stop' " 
                                              + "class='process_resource'>Close</button> </td>"
                                newtr = newtr + "</tr>"
                        }
                        $("#programmeinfo").append(newtr)
                        set_programme_process_response()
 
                    })
                });
            }

            function set_form_ajax(formid, cbfun) {
                cbfun = cbfun || function (res) {}
                $('#'+formid).on('submit', function (e){
                    e.preventDefault();
                    $.ajax( {
                        type : "GET",
                        dataType: "json",
                        url : $(this).context.action,
                        data : $(this).serialize(),
                        success :cbfun 
                    });
                });
            }


            function set_command_handle() {
                set_form_ajax('commandForm')
            }

            function set_channels_list() {
                $("#getchannels").click(function(){
                    $.get("/get_channels/",function(ret){
                        $("tr.channel_info").remove()
                        channels = ret.channels
                        var newtr = ""
                        for(var i=0; i< channels.length; i++) {
                            newtr = newtr + "<tr class='channel_info'> "
                                newtr = newtr + "<td>" + channels[i].id + "</td>"
                                newtr = newtr + "<td>" + channels[i].name + " </td>"
                                newtr = newtr + "<td>" + channels[i].url + "</td>"
                                newtr = newtr + "<td>" + channels[i].info + " </td>"
                                newtr = newtr + "<td> <button channel='" + channels[i].id + "' class='channel'> Open </button> </td>"
                                newtr = newtr + "</tr>"
                        }
                        $("#channeltable").append(newtr)
                        set_event_response()
                        //$('#result').html(channels)
                    })
                });

            }
            $(document).ready(function(){
                set_event_response()
                set_command_handle()
                set_form_ajax('controllerSettings')
                set_channels_list()
                set_programme_response()
                set_programme_process_response()
                $("#opentv").click(function(){
                    $.get("/opentv/",function(ret){
                        console.log(ret)
                        $('#result').html(ret)
                    })
                });
            });

        </script>      
    </body>
</html>
